{{- /*gotype: github.com/sportshead/todo/todo.Todo */ -}}
<div class="w-full my-1 flex items-center">
    <form hx-put="/todo/{{ .ID }}" class="grow flex items-center">
        <input
            type="checkbox"
            name="done"
            hx-put="/todo/{{ .ID }}"
            hx-trigger="change"
            hx-swap="none"
            class="flex-none cursor-pointer w-5 h-5 p-1 rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50"
            {{ if .Done }}checked{{ end }}
            autocomplete="off"
        />
        <div class="grow grid relative mx-2 items-center">
            <input
                type="text"
                name="title"
                class="peer w-full p-0.5 border-0 focus:ring-0 bg-inherit"
                value="{{ .Title }}"
                readonly
                autocomplete="off"
            />
            <span
                class="h-[2px] w-full peer-read-only:w-0 inline-block bg-gray-200 motion-reduce:transition-none transition-[width] duration-1000 ease-in-out"
            ></span>
        </div>
        <input type="hidden" name="projectId" value="{{ .ProjectID }}" />
        <input type="hidden" name="description" value="{{ .Description }}" />
    </form>
</div>
